* {
    scroll-behavior: smooth; /* Animation fluide au scroll */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #D9D6D2;
    scroll-snap-type: y mandatory; /* Active le snapping sur l'axe vertical */
    overflow-y: scroll; /* Permet de faire défiler les sections */
}
  
a {
    text-decoration: solid;
    color: #386c5f;
  }
.wittgenstein-regular {
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

  .tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }
  


.header h2{
    color: #184930;
}

 /*------------------ NAV BAR CSS -----------------------*/
 #idheader {
    margin-top: 30px;
    position:absolute;
    top: 0;
    width: 100%;
    position: absolute;
    padding: auto;
  }

  .header {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    flex-wrap: wrap;
  }

  
  .menu-link {
    position: absolute; /* Utilise un positionnement absolu pour plus de contrôle */
    top: 15px; /* Ajuste la position verticale */
    right: 10px; /* Mets un espace de 10px depuis le bord gauche de l'écran */
    height: 30px;
    width: 33px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
  }
  
  .bar1,
  .bar2,    
  .bar3 {
    background-color: #515940;
    height: 4px;
    width: 100%;
  }
  
  nav {
    justify-self: flex-end;
    align-items: end;
    width: auto; /* Ajuste la largeur selon le contenu */
  }
  
  nav ul {
    justify-self: flex-end;
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: #184930;
    border-radius: 10px;
    padding: 10px 15px;
    display: block;
    transition: background 0.3s;
    position: relative;
    font-size: 20px;
    border-radius: 10px;
  }
  nav ul li a::before {
    transform: scaleX(0);
    border-radius: 10px;
    transform-origin: bottom right;
  }
  
  nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #C3AC8D;
  }
  
nav ul li a::before {
    content: " ";
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background:#C3AC8D;
    z-index: -1;
    transition: transform 0.3s ease;
}

/* Personnalisation des sections */
section {
    height: 100vh; /* Chaque section prend 100% de la hauteur de l'écran */
    padding-left: 10%;
    padding-right: 10%;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    scroll-snap-align: start; /* Définit le point d'accroche de la section */
    font-size: 40px; /* Juste pour la visibilité */
}

#section1 {
    justify-content:center;
    display: flex;

}

#section2 {
    background-color: #bfa78ab6;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#section3 {
    display: flex;
    justify-items:center;
    justify-content: center;
    gap: 50px;
    padding: auto;
    margin: auto;
}

#section4 {
    background-color: #697353;
    box-shadow: 20px 0px 20px #A69068;
    color: #0000;
}

/* -------------------- section 01 ------------------------- */

.corp1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

/* Le texte est partiellement caché avec une opacité réduite */
.corp1 h1 {
    color: #184930;
    font-size: 80px;
    position: relative;
    opacity: 0; /* Opacité réduite pour le texte caché */
    transition: opacity 0.5s ease; /* Transition douce pour l'opacité */
    z-index: 1;
}

/* L'image est également partiellement visible */
.imageSection1 {
    display: flex;
    opacity: 0.7;
    height: auto;
    padding: auto;
    border-radius: 10px 10px 50% 50%;
    box-shadow: 10px 10px 20px #184930af;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease; 
    
    /* z-index: 2; */
}

.corp1 a:hover .imageSection1{
    opacity: 1; 
    box-shadow: 10px 10px 20px #184930; 
    transition: all 2s ease;
}

.corp1 a:hover ~ .corp1text {
    opacity: 1; 
    transition: all 1s ease;

}

/* -------------------- section 03 ------------------------- */
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");



#filters {
    width: 30vh;
    height: auto;

}

#container {
    width: 30vh;
    height: 80pt;
    /* transform: translate(-50%, -50%); */
    filter: url(#threshold) blur(0.6px);
}
  
  .photo:hover img{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
  }
  
  .photo .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0; */
    border-radius: 10px;
    border-radius:27% 73% 44% 56% / 22% 10% 90% 78%;

  }
  
  .photo .glow{
    display: flex;
    /* position:absolute; */
    width: 40%;
    height: 100%;
    background: rgba(255,255,255,.2);
    /* top: 0; */
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:27% 73% 44% 56% / 22% 10% 90% 78%;

  }
  
  .photo:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photo:hover img,
  .photo:hover .glow-wrap{
    /* margin-top: 0; */
    filter: none;
    border-radius:27% 73% 44% 56% / 22% 10% 90% 78%;

  }
  
 .textSection3{
    font-size: 29px;
    width: 100%;
    letter-spacing: 7px;
    text-align: center;
    color: #D9D6D2;
    position: absolute;
    z-index: 0;
    line-height: 2;
  }


#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 40pt;
    text-align: left;
    color: #620d14b0;
    user-select: none;
    z-index: 11; 
}

.photo {
    /* position:static; Assure-toi que la photo soit le point de référence pour l'élément #container */
    transform: translate(-20%, -0%);
    display: flex;
    border-radius:27% 73% 44% 56% / 22% 10% 90% 78%;

}

.photo img {
    width: 40vh;
    display: flex ;
    object-fit: cover;
    filter: grayscale(100%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
    transition: all .1s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 58% 42% 46% 54% / 35% 31% 69% 65%;

          
}





  
  /* FOOTER GLOBAL STYLES */
.footer-container {
    color: #00000062;
    bottom: 0;
    width: 100%;
    text-align: center;  
    margin-bottom: 20px;
    margin-top: 60px;

}

    /*------------------ RESPONSIVE CSS -----------------------*/
  /* Small screen styles */

  @media (max-width: 960px) {
    .menu-link {
      display: flex;
      margin-right: 30px;
    }
  
    nav ul {
      padding: 10px 0;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #effdf6c2;
    }
    .header h2{
        margin-top: 20px;
        font-size: 20px;
        display: flex;
    }
  
    nav ul.active {
      display: flex;
    }
  
    .burger-menu {
      display: flex;
    } 
    .corp1 {
        flex-direction: column; /* Empile les éléments verticalement */
        gap: 40px; /* Réduit l'écart entre les éléments */
    }

    .corp1 h1 {
        font-size: 40px; /* Encore réduire la taille du texte pour mobile */
        opacity: 1; /* Le texte est totalement visible sur mobile */
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
    }

    .imageSection1 {
        width: 250px; /* Taille plus petite de l'image pour mobile */
        height: auto;
        opacity: 1;
    }

}